<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="description" content="A monthly meetup for Frontend developers in the North East of England, based in Newcastle upon Tyne." />

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/icons/apple-touch-icon-precomposed-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/icons/apple-touch-icon-precomposed-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-precomposed-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-precomposed-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icons/apple-touch-icon-precomposed-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/icons/apple-touch-icon-precomposed-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/icons/apple-touch-icon-precomposed-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-precomposed-152x152.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-precomposed-180x180.png" />

    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="icon" href="/img/icons/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="/img/icons/favicon.ico"><![endif]-->
    {% if page.title %}
        {% assign tagline = page.title %}
    {% else %}
        {% assign tagline = 'A monthly meetup for frontend developers in Newcastle upon Tyne' %}
    {% endif %}
    <title>Frontend NE - {{ tagline }}</title>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-59418357-1', 'auto');
        ga('require', 'linkid', 'linkid.js');
        ga('send', 'pageview');
    </script>
    <link rel="stylesheet" media="all" href="/css/screen.css">
</head>
<body>
    {{ content }}
    <script src="/scripts/main.js"></script>
    <script src='https://js.tito.io/v1' async></script>
</body>
</html>
