---
layout: base
---

<main role="main">
    <a href="/" class="logo">
        <svg viewBox="0 0 585 140" class="icon icon__logo">
            <use xlink:href="#icon__logo"></use>
        </svg>
    </a>
    {{ content }}
    <form action="#" class="newsletter">
        <label for="newsletter__email">Email Address:</label>
        <input type="email" id="newsletter__email" name="newsletter__email" placeholder="jzeldman@happycog.com" required>
        <input type="submit" value="submit">
    </form>
</main>