---
layout: base
---

<main role="main" class="animation animation__bounce-in-down">
    <a href="/" class="logo">
        {% include svg/logo.svg %}
    </a>
    <div class="main__content">
        {{ content }}
    </div>
    <form action="//sambeckham.us3.list-manage.com/subscribe/post?u=9a08ccca86dad8eae63b29a88&amp;id=2524deef25" method="post" class="newsletter">
        <label for="mce-EMAIL" class="hide">Email Address:</label>
        <input type="email" id="mce-EMAIL" name="EMAIL" placeholder="jzeldman@happycog.com" required>
        <input type="submit" value="submit">
    </form>
</main>