.DS_Store
.sass-cache
.tmp
.grunt
bower_components/
node_modules/
/web/cms/resources/
/web/img/
favicon.ico
our-favourite.gif
/web/cms/addons/feathers/frontendne/css/*.map
/web/cms/addons/feathers/frontendne/img/