{% assign now = site.time | date: "%s" %}
{% for event in site.events %}
    {% assign eventDate = event.date | date: "%s" %}
    {% if eventDate >= now %}
        {% assign nextEvent = event %}
        {% break %}
    {% endif %}
{% endfor %}

<section class="event-promotion" datetime="{{ nextEvent.date | date: "%Y-%m-%dT%T" }}">
    <span>Our next event&hellip;</span>
    {% if nextEvent.title %}
        <h1>{{ nextEvent.title }}</h1>
        <time>{{ nextEvent.date | date: "%-d %B %Y" }}</time>
    {% else %}
        <h1>{{ nextEvent.date | date: "%-d %B %Y" }}</h1>
    {% endif %}
    <p>{{ nextEvent.content }}</p>
    {% if nextEvent.tickets %}
        <a href="#" class="button">Get tickets</a>
    {% else %}
        <a href="#" class="button">Call for Papers</a>
    {% endif %}
</section>
