%button {
    -webkit-appearance: none;
    background-color: $color__primary;
    border: 0;
    border-radius: 0;
    color: $color__white;
    cursor: pointer;
    display: inline-block;
    fill: $color__white;
    font-family: $primary-font;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    line-height: 1em;
    padding: $ratio--inv#{em} $ratio#{em};
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color $animation__timing--interaction,
        opacity $animation__timing--interaction * $ratio--inv,
        transform $animation__timing--interaction;
    width: 100%;

    &:hover,
    &:focus {
        background: $color__primary--light;
        color: $color__white;
        fill: $color__white;
        outline: none;
    }
}

[type=submit],
.button {
    @extend %button;
}
