.main__header {
    background-color: $color__black;
    color: $color__gray--light;
    fill: $color__gray--light;
    margin-bottom: $ratio#{em};
    padding: $ratio#{em} 0 $ratio--inv#{em};
    text-align: center;
}

.logo {
    display: block;
    text-align: center;
    width: 100%;
}
