/* general typography */
.leaflet-container {
    background:#fff;
    font:12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color:#404040;
    color:rgba(0,0,0,0.75);
    outline:0;
    overflow:hidden;
    -ms-touch-action:none;
}

/* Base Leaflet
------------------------------------------------------- */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
    position:absolute;
    left:0;
    top:0;
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
    -webkit-user-drag:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
.leaflet-marker-icon,
.leaflet-marker-shadow {
    display: block;
}

.leaflet-tile {
    filter:inherit;
    visibility:hidden;
}

.leaflet-tile-loaded {
    visibility:inherit;
}

.leaflet-zoom-box {
    width:0;
    height:0;
}

.leaflet-tile-pane {
    z-index:2;
}

.leaflet-objects-pane {
    z-index:3;
}

.leaflet-overlay-pane {
    z-index:4;
}

.leaflet-shadow-pane {
    z-index:5;
}

.leaflet-marker-pane {
    z-index:6;
}

.leaflet-popup-pane {
    z-index:7;
}

.leaflet-control {
    position:relative;
    z-index:7;
    pointer-events:auto;
    float:left;
    clear:both;
}

.leaflet-right .leaflet-control {
    float:right;
}

.leaflet-top .leaflet-control {
    margin-top:10px;
}

.leaflet-bottom .leaflet-control {
    margin-bottom:10px;
}

.leaflet-left .leaflet-control {
    margin-left:10px;
}

.leaflet-right .leaflet-control {
    margin-right:10px;
}

.leaflet-top,
.leaflet-bottom {
    position:absolute;
    z-index:1000;
    pointer-events:none;
}

.leaflet-top {
    top:0;
}

.leaflet-right {
    right:0;
}

.leaflet-bottom {
    bottom:0;
}

.leaflet-left {
    left:0;
}

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
    opacity:0;
    -webkit-transition:opacity 0.2s linear;
    -moz-transition:opacity 0.2s linear;
    -o-transition:opacity 0.2s linear;
    transition:opacity 0.2s linear;
}

.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity:1;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
    -webkit-transition:-webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
    -moz-transition:   -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
    -o-transition:     -o-transform 0.25s cubic-bezier(0,0,0.25,1);
    transition:        transform 0.25s cubic-bezier(0,0,0.25,1);
}

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    transition:none;
}

.leaflet-zoom-anim .leaflet-zoom-hide {
    visibility: hidden;
}

/* cursors */
.leaflet-container {
    cursor:-webkit-grab;
    cursor:   -moz-grab;
}
.leaflet-overlay-pane path,
.leaflet-marker-icon,
.leaflet-container.map-clickable,
.leaflet-container.leaflet-clickable {
    cursor:pointer;
}
.leaflet-popup-pane,
.leaflet-control {
    cursor:auto;
}
.leaflet-dragging,
.leaflet-dragging .map-clickable,
.leaflet-dragging .leaflet-clickable,
.leaflet-dragging .leaflet-container {
    cursor:move;
    cursor:-webkit-grabbing;
    cursor:   -moz-grabbing;
}

.leaflet-zoom-box {
    background:#fff;
    border:2px dotted #202020;
    opacity:0.5;
}

/* general toolbar styles */
.leaflet-control-layers,
.leaflet-bar {
    background-color:#fff;
    border:1px solid #999;
    border-color:rgba(0,0,0,0.4);
    border-radius:3px;
    box-shadow:none;
}
.leaflet-bar a,
.leaflet-bar a:hover {
    color:#404040;
    color:rgba(0,0,0,0.75);
    border-bottom:1px solid #ddd;
    border-bottom-color:rgba(0,0,0,0.10);
}
.leaflet-bar a:hover,
.leaflet-bar a:active {
    background-color:#f8f8f8;
    cursor:pointer;
}
.leaflet-bar a:hover:first-child {
    border-radius:3px 3px 0 0;
}
.leaflet-bar a:hover:last-child {
    border-bottom:none;
    border-radius:0 0 3px 3px;
}
.leaflet-bar a:hover:only-of-type {
    border-radius:3px;
}

.leaflet-bar .leaflet-disabled {
    cursor:default;
    opacity:0.75;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    display:block;
    content:'';
    text-indent:-999em;
}

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display:none;
}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
    display:block;
    position:relative;
}

.leaflet-control-layers-expanded {
    background:#fff;
    padding:6px 10px 6px 6px;
    color:#404040;
    color:rgba(0,0,0,0.75);
}
.leaflet-control-layers-selector {
    margin-top:2px;
    position:relative;
    top:1px;
}
.leaflet-control-layers label {
    display: block;
}
.leaflet-control-layers-separator {
    height:0;
    border-top:1px solid #ddd;
    border-top-color:rgba(0,0,0,0.10);
    margin:5px -10px 5px -6px;
}

.leaflet-container .leaflet-control-attribution {
    background-color:rgba(255,255,255,0.5);
    margin:0;
    box-shadow:none;
}
.leaflet-container .leaflet-control-attribution a,
.leaflet-container .map-info-container a {
    color:#404040;
}
.leaflet-control-attribution a:hover,
.map-info-container a:hover {
    color:inherit;
    text-decoration:underline;
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
    padding:0 5px;
}
.leaflet-left .leaflet-control-scale    { margin-left:5px; }
.leaflet-bottom .leaflet-control-scale  { margin-bottom:5px; }

.leaflet-control-scale-line {
    background-color:rgba(255,255,255,0.5);
    border:1px solid #999;
    border-color:rgba(0,0,0,0.4);
    border-top:none;
    padding:2px 5px 1px;
    white-space:nowrap;
    overflow:hidden;
}
.leaflet-control-scale-line:not(:first-child) {
    border-top:2px solid #ddd;
    border-top-color:rgba(0,0,0,0.10);
    border-bottom:none;
    margin-top:-2px;
}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
    border-bottom:2px solid #777;
}

/* popup */
.leaflet-popup {
    position:absolute;
    text-align:center;
    pointer-events:none;
}
.leaflet-popup-content-wrapper {
    padding:1px;
    text-align:left;
    pointer-events:all;
}
.leaflet-popup-content {
    padding:10px 10px 15px;
    margin:0;
    line-height:inherit;
}
.leaflet-popup-close-button + .leaflet-popup-content-wrapper .leaflet-popup-content {
    padding-top:15px;
}

.leaflet-popup-tip-container {
    width:20px;
    height:20px;
    margin:0 auto;
    position:relative;
}
.leaflet-popup-tip {
    width:0;
    height:0;
    margin:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #fff;
    box-shadow:none;
}
.leaflet-popup-close-button {
    text-indent:-999em;
    position:absolute;
    top:0;right:0;
    pointer-events:all;
}
.leaflet-popup-close-button:hover {
    background-color:#f8f8f8;
}

.leaflet-popup-scrolled {
    overflow:auto;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
}

/* Leaflet + Mapbox
------------------------------------------------------- */
.leaflet-bar a,
.mapbox-icon,
.map-tooltip.closable .close,
.leaflet-control-layers-toggle,
.leaflet-popup-close-button,
.mapbox-button-icon:before {
    content:'';
    display:inline-block;
    width:26px;
    height:26px;
    vertical-align:middle;
    background-repeat:no-repeat;
}
.leaflet-bar a {
    display:block;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-popup-close-button,
.leaflet-control-layers-toggle,
.leaflet-container.dark .map-tooltip .close,
.map-tooltip .close,
.mapbox-icon {
    opacity: .75;
    background-image:url(./images/icons-000000@2x.png);
    background-repeat:no-repeat;
    background-size:26px 260px;
}
.mapbox-button-icon:before,
.leaflet-container.dark .leaflet-control-zoom-in,
.leaflet-container.dark .leaflet-control-zoom-out,
.leaflet-container.dark .leaflet-control-layers-toggle,
.leaflet-container.dark .mapbox-icon {
    opacity: 1;
    background-image:url(./images/icons-ffffff@2x.png);
    background-size:26px 260px;
}
.leaflet-bar .leaflet-control-zoom-in                 { background-position:0 0; }
.leaflet-bar .leaflet-control-zoom-out                { background-position:0 -26px; }
.map-tooltip.closable .close,
.leaflet-popup-close-button {
    background-position:-3px -55px;
    width:20px;
    height:20px;
    border-radius:0 3px 0 0;
}
.mapbox-icon-info                                     { background-position:0 -78px; }
.leaflet-control-layers-toggle                        { background-position:0 -104px; }
.mapbox-icon.mapbox-icon-share:before, .mapbox-icon.mapbox-icon-share         { background-position:0 -130px; }
.mapbox-icon.mapbox-icon-geocoder:before, .mapbox-icon.mapbox-icon-geocoder   { background-position:0 -156px; }
.mapbox-icon-facebook:before, .mapbox-icon-facebook   { background-position:0 -182px; }
.mapbox-icon-twitter:before, .mapbox-icon-twitter     { background-position:0 -208px; }
.mapbox-icon-pinterest:before, .mapbox-icon-pinterest { background-position:0 -234px; }

.leaflet-popup-content-wrapper,
.map-legends,
.map-tooltip {
    background:#fff;
    border-radius:3px;
    box-shadow:0 1px 2px rgba(0,0,0,0.10);
}
.map-legends,
.map-tooltip {
    max-width:300px;
}
.map-legends .map-legend {
    padding:10px;
}
.map-tooltip {
    z-index:999999;
    padding:10px;
    min-width:180px;
    max-height:400px;
    overflow:auto;
    opacity:1;
    -webkit-transition:opacity 150ms;
    -moz-transition:opacity 150ms;
    -o-transition:opacity 150ms;
    transition:opacity 150ms;
}

.map-tooltip .close {
    text-indent:-999em;
    overflow:hidden;
    display:none;
}
.map-tooltip.closable .close {
    position:absolute;
    top:0;right:0;
    border-radius:3px;
}
.map-tooltip.closable .close:active  {
    background-color:#f8f8f8;
}

.leaflet-control-interaction {
    position:absolute;
    top:10px;
    right:10px;
    width:300px;
}
.leaflet-popup-content .marker-title {
    font-weight:bold;
}
.leaflet-control .mapbox-button {
    background-color:#fff;
    border:1px solid #ddd;
    border-color:rgba(0,0,0,0.10);
    padding:5px 10px;
    border-radius:3px;
}

/* Larger Screens
------------------------------------------------------- */
@media only screen and (max-width:800px) {
    .mapbox-modal-body {
        width:83.3333%;
        margin-left:8.3333%;
    }
}

/* Smaller Screens
------------------------------------------------------- */
@media only screen and (max-width:640px) {
    .mapbox-modal-body {
        width:100%;
        height:100%;
        margin:0;
    }
}

/* Browser Fixes
------------------------------------------------------- */
/* VML support for IE8 */
.leaflet-vml-shape { width:1px; height:1px; }
.lvml { behavior:url(#default#VML); display:inline-block; position:absolute; }
/* Map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img.leaflet-tile { max-width:none !important; }
/* Markers are broken in FF/IE if you have max-width: 100% on marker images */
.leaflet-container img.leaflet-marker-icon { max-width:none; }
/* Stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer { max-width:15000px !important; }
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg { -moz-user-select:none; }
/* Older IEs don't support the translateY property for display animation */
.leaflet-oldie .mapbox-modal .mapbox-modal-content        { display:none; }
.leaflet-oldie .mapbox-modal.active .mapbox-modal-content { display:block; }
.map-tooltip { width:280px\8; /* < IE9 */ }
