// scss-lint:disable ColorVariable
// general typography */
.leaflet-container {
    // scss-lint:disable ImportantRule
    background: #fff;
    // color: #404040;
    color: rgba(0, 0, 0, .75);
    cursor: grab;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    outline: 0;
    overflow: hidden;
    // -ms-touch-action: none;

    .leaflet-image-layer {
        max-width: 15000px !important;
    }

    .leaflet-marker-icon {
        max-width: none;
    }

    .leaflet-tile {
        max-width: none !important;
    }

    .leaflet-control-attribution {
        background-color: rgba(255, 255, 255, .5);
        box-shadow: none;
        margin: 0;
    }
}

// Base Leaflet
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
    left: 0;
    position: absolute;
    top: 0;
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
    // -webkit-user-drag: none;
    user-select: none;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
    display: block;
}

.leaflet-tile {
    filter: inherit;
    visibility: hidden;
}

.leaflet-tile-loaded {
    visibility: inherit;
}

.leaflet-zoom-box {
    background: #fff;
    border: 2px dotted #202020;
    height: 0;
    opacity: .5;
    width: 0;
}

.leaflet-tile-pane {
    z-index: 2;
}

.leaflet-objects-pane {
    z-index: 3;
}

.leaflet-overlay-pane {
    z-index: 4;

    svg {
        user-select: none;
    }
}

.leaflet-shadow-pane {
    z-index: 5;
}

.leaflet-marker-pane {
    z-index: 6;
}

.leaflet-popup-pane {
    z-index: 7;
}

.leaflet-control {
    clear: both;
    float: left;
    pointer-events: auto;
    position: relative;
    z-index: 7;

    .leaflet-right & {
        float: right;
        margin-right: 10px;
    }

    .leaflet-top & {
        margin-top: 10px;
    }

    .leaflet-bottom & {
        margin-bottom: 10px;
    }

    .leaflet-left & {
        margin-left: 10px;
    }

    .mapbox-button {
        background-color: #fff;
        border: 1px solid #ddd;
        border-color: rgba(0, 0, 0, .1);
        border-radius: 3px;
        padding: 5px 10px;
    }
}

.leaflet-top,
.leaflet-bottom {
    pointer-events: none;
    position: absolute;
    z-index: 1000;
}

.leaflet-top {
    top: 0;
}

.leaflet-right {
    right: 0;
}

.leaflet-bottom {
    bottom: 0;

    .leaflet-control-scale {
        margin-bottom: 5px;
    }
}

.leaflet-left {
    left: 0;

    .leaflet-control-scale {
        margin-left: 5px;
    }
}

// zoom and fade animations */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
    opacity: 0;
    transition: opacity .2s linear;
}

.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity: 1;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
    transition: transform .25s cubic-bezier(0, 0, .25, 1);
}

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
    transition: none;
}

.leaflet-zoom-anim .leaflet-zoom-hide {
    visibility: hidden;
}

// cursors */
.leaflet-overlay-pane path,
.leaflet-marker-icon,
.leaflet-container.map-clickable,
.leaflet-container.leaflet-clickable {
    cursor: pointer;
}

.leaflet-popup-pane,
.leaflet-control {
    cursor: auto;
}

.leaflet-dragging,
.leaflet-dragging .map-clickable,
.leaflet-dragging .leaflet-clickable,
.leaflet-dragging .leaflet-container {
    cursor: move;
    // cursor: -webkit-grabbing;
    // cursor: -moz-grabbing;
}

// general toolbar styles */
.leaflet-control-layers,
.leaflet-bar {
    background-color: #fff;
    border: 1px solid #999;
    border-color: rgba(0, 0, 0, .4);
    border-radius: 3px;
    box-shadow: none;
}

.leaflet-bar a,
.leaflet-bar a:hover {
    // color: #404040;
    border-bottom: 1px solid #ddd;
    border-bottom-color: rgba(0, 0 , 0, .10);
    color: rgba(0, 0, 0, .75);
}

.leaflet-bar a:hover,
.leaflet-bar a:active {
    background-color: #f8f8f8;
    cursor: pointer;
}

.leaflet-bar a:hover:first-child {
    border-radius: 3px 3px 0 0;
}

.leaflet-bar a:hover:last-child {
    border-bottom: 0;
    border-radius: 0 0 3px 3px;
}

.leaflet-bar a:hover:only-of-type {
    border-radius: 3px;
}

.leaflet-bar .leaflet-disabled {
    cursor: default;
    opacity: .75;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    content: '';
    display: block;
    text-indent: -999em;
}

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: none;
}

.leaflet-control-layers-expanded {
    background: #fff;
    // color: #404040;
    color: rgba(0, 0, 0, .75);
    padding: 6px 10px 6px 6px;

    .leaflet-control-layers-list {
        display: block;
        position: relative;
    }
}

.leaflet-control-layers-selector {
    margin-top: 2px;
    position: relative;
    top: 1px;
}

.leaflet-control-layers label {
    display: block;
}

.leaflet-control-layers-separator {
    border-top: 1px solid #ddd;
    border-top-color: rgba(0, 0, 0, .10);
    height: 0;
    margin: 5px -10px 5px -6px;
}

.leaflet-container .leaflet-control-attribution a,
.leaflet-container .map-info-container a {
    color: #404040;
}

.leaflet-control-attribution a:hover,
.map-info-container a:hover {
    color: inherit;
    text-decoration: underline;
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
    padding: 0 5px;
}

.leaflet-control-scale-line {
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid #999;
    border-color: rgba(0, 0, 0, .4);
    border-top: 0;
    overflow: hidden;
    padding: 2px 5px 1px;
    white-space: nowrap;
}

.leaflet-control-scale-line:not(:first-child) {
    border-bottom: 0;
    border-top: 2px solid #ddd;
    border-top-color: rgba(0, 0, 0, .10);
    margin-top: -2px;
}

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
    border-bottom: 2px solid #777;
}

// popup */
.leaflet-popup {
    pointer-events: none;
    position: absolute;
    text-align: center;
}

.leaflet-popup-content-wrapper {
    padding: 1px;
    pointer-events: all;
    text-align: left;
}

.leaflet-popup-content {
    line-height: inherit;
    margin: 0;
    padding: 10px 10px 15px;

    .marker-title {
        font-weight: bold;
    }
}

.leaflet-popup-close-button {
    pointer-events: all;
    position: absolute;
    right: 0;
    text-indent: -999em;
    top: 0;

    + .leaflet-popup-content-wrapper .leaflet-popup-content {
        padding-top: 15px;
    }
}

.leaflet-popup-tip-container {
    height: 20px;
    margin: 0 auto;
    position: relative;
    width: 20px;
}

.leaflet-popup-tip {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    box-shadow: none;
    height: 0;
    margin: 0;
    width: 0;
}

.leaflet-popup-close-button:hover {
    background-color: #f8f8f8;
}

.leaflet-popup-scrolled {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    overflow: auto;
}

// Leaflet + Mapbox
.leaflet-bar a,
.mapbox-icon,
.map-tooltip.closable .close,
.leaflet-control-layers-toggle,
.leaflet-popup-close-button,
.mapbox-button-icon:before {
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 26px;
    vertical-align: middle;
    width: 26px;
}

.leaflet-bar a {
    display: block;
}

.leaflet-popup-content-wrapper,
.map-legends,
.map-tooltip {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .10);
}

.map-legends,
.map-tooltip {
    max-width: 300px;
}

.map-legends .map-legend {
    padding: 10px;
}

.map-tooltip {
    max-height: 400px;
    min-width: 180px;
    opacity: 1;
    overflow: auto;
    padding: 10px;
    transition: opacity 150ms;
    width: 280px\8; // < IE9 */
    z-index: 999999;

    .close {
        display: none;
        overflow: hidden;
        text-indent: -999em;
    }

    &.closable {
        .close {
            border-radius: 3px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.leaflet-control-interaction {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 300px;
}

// Larger Screens
@media only screen and (max-width: 800px) {
    .mapbox-modal-body {
        margin-left: 8.3333%;
        width: 83.3333%;
    }
}

// Smaller Screens
@media only screen and (max-width: 640px) {
    .mapbox-modal-body {
        height: 100%;
        margin: 0;
        width: 100%;
    }
}

// Browser Fixes
// VML support for IE8 */
.leaflet-vml-shape {
    height: 1px;
    width: 1px;
}

.lvml {
    // behavior: url('#default#VML');
    display: inline-block;
    position: absolute;
}

// Older IEs don't support the translateY property for display animation */
.leaflet-oldie .mapbox-modal .mapbox-modal-content {
    display: none;
}

.leaflet-oldie .mapbox-modal.active .mapbox-modal-content {
    display: block;
}
// scss-lint:enable ColorVariable

