.tito-box {
    background-color: $color__black;
    color: $color__gray--light;
    display: flex;
    margin: $ratio#{em} 0 0;
    padding: $ratio#{em} 0;
    text-align: center;

    a:not(.button) {
        color: currentColor;
    }
}

.tito-tickets-button {
    @extend %button !optional;
}
