.tito-box {
    background-color: $color__black;
    color: $color__gray--light;
    display: flex;
    margin: $ratio#{em} 0 0;
    padding: $ratio#{em} 0;
    text-align: center;

    a:not(.button) {
        color: currentColor;
    }
}

tito-button {
    @extend %button !optional;

    button {
        background: transparent;
        border: 0;
        color: currentcolor;        
        cursor: pointer;
        font-family: $body-font;
        font-size: 1em;
        line-height: 1em;
        margin: 0;
        padding: 0;    
        text-transform: uppercase;
    }
}
