<perch:content id="date" type="date" time="true" format="F Y" label="Date" required="true" order="2" suppress="true" />
<perch:content id="ticketSalesDate" type="date" time="true" format="%s" label="Ticket On Sale" required="true" order="2" suppress="true" />
<perch:content id="titoCode" type="text" label="Tito Code (no Url)" order="3" suppress="true" />

<section class="event-promotion" datetime="<perch:content id="date" type="date" time="true" format="%Y-%m-%dT%T" />">

    <span>Our next event&hellip;</span>

    <h1><perch:content id="title" type="text" /></h1>

    <time class="date" data-day="<perch:content id="date" type="date" format="%d" />"><perch:template path="includes/svg/date.svg" /><perch:content id="date" type="date" format="%-d %B" /></time>

    <time class="time"><perch:template path="includes/svg/time.svg" /><perch:content id="date" type="date" time="true" format="%H:%M" /></time>

    <a href="#map" class="location"><perch:template path="includes/svg/location.svg" /><perch:content id="location" type="text" /></a>

    <perch:content id="introduction" type="textarea" label="Introduction" markdown="true" help="Short version for home page" />

    <div class="event-promotion__buttons">

    <perch:content id="archived" />
    
    <perch:if id="archived" match="neq" value="yes">
        <perch:if  id="ticketSalesDate" match="lte" value="{todaysDate}" format="%s">
                        <tito-button event="frontendne/<perch:content id="titoCode" />">Get a ticket</tito-button>
         </perch:if>
    </perch:if>

        <a href="/events/<perch:content id="slug" type="slug" />" class="button">Event details</a>

    </div>

</section>