// Breakpoint mixin, taken from:
// http://www.sitepoint.com/managing-responsive-breakpoints-sass/#with-a-configurable-mixin

$breakpoints: (
    large : 72em,
    medium : 52em,
    small : 38em,
    extra-small : 18em
);

$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;

@mixin breakpoint($breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @if $value != null {
        $current-breakpoint: $breakpoint !global;

        @media (min-width: $value) {
            @content;
        }

        $current-breakpoint: $default-breakpoint !global;
    } @else {
        @warn "Invalid breakpoint '#{$breakpoint}'.";
    }
}
