input {
    border-radius: 0;
    -webkit-appearance: none;
    font-family: $primary-font;
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    font-weight: 400;
}

%input {
    -webkit-appearance: none;
    backface-visibility: hidden;
    background-color: $color__white;
    border: 0;
    border-bottom: pow($ratio--inv, 2)#{em} solid $color__gray;
    color: $color__black;
    display: block;
    margin: 0;
    padding: $ratio--inv#{em};
    position: relative;
    transform: translateZ(0);
    transition: border $animation__timing--interaction;
    width: 100%;
    z-index: 2;

    &:focus {
        outline: none;
        border-bottom-color: $color__primary;
    }
}

[type=email] {
    @extend %input;
}