svg {
    height: auto;
    max-width: 100%;
}

.icon {
    display: inline-block;
    fill: currentColor;
    height: $ratio#{em};
    width: $ratio#{em};
}

.icon--small {
    height: 1em;
    width: 1em;
}

.icon--large {
    width: 100%;
}

.icon--fill {
    display: block;
    height: 100%;
    width: 100%;
}

.icon--inline {
    margin-right: $ratio--inv#{em};
    vertical-align: middle;

    + span {
        display: inline-block;
        vertical-align: middle;
    }
}
