// Don't leave stuff in here, it's lazy and everyone will hate you for it.

.mailing-list__sign-up__form {
    display: none;

    .mailing-list__sign-up--form & {
        display: block;
    }
}

.mailing-list__sign-up__loading {
    display: none;
    text-align: center;

    .mailing-list__sign-up--loading & {
        display: block;
    }
}

.mailing-list__sign-up__response {
    display: none;

    .mailing-list__sign-up--response & {
        display: block;
    }
}