// Don't leave stuff in here, it's lazy and everyone will hate you for it.

// I shouldn't add this here, but it's only temporary

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}